@charset "UTF-8";

@media screen and (max-width: 768px) {

    * {
        padding: 0px;
        margin: 0px;
    }
    #login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-width: 500px;
    }

}