@charset "UTF-8";

/*

Paleta de Cores
verde: #49a09d
lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    background-image: linear-gradient(#5f2c82, #49a09d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    width: 990px;
    height: 400px;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: black url(../imagens/pexels-mikhail-nilov-8332754.jpg);
    height: 200px;
    background-position: center center;
    background-size: cover;
    float: right;
    height: 100%;
    width: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#formulario {
    float: left;
    width: 50%
}

#formulario h1 {
    text-align: center;
    padding: 10px;
}

#formulario p {
    padding: 5px;
}

#campo {
    background-color: #5A2D80;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    width: 95%;
    border-radius: 10px;
    padding: 10px;
}



input[type=email],
input[type=password] {
    background-color: #5ac2be;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-top: 3px;
    flex: 1;
}

form span {
    font-size: 40px;
    color: white;
    
}

input[value=Entrar] {
    display: block;
    text-align: center;
    font-size: 1em;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    width: 95%;
    background-color: #199666;
    color: white;
    border: 0px solid;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}

input[value=Entrar]:hover {
    background-color: white;
    color: #199666;
    border: 1px solid #199666;
}

.btn-esqueceu {
    display: block;
    text-align: center;
    font-size: 1em;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    width: 95%;
    background-color: white;
    color: #474747;
    border: 1px solid #199666;
    margin-top: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;

}

.btn-esqueceu:hover {
    background-color: #199666;
    color: white;
}

.material-symbols-outlined {
    font-size: 40px
}